node_modules/
dist/
output/
build/
coverage/
other/
/other/*
.DS_Store
.env
*.log
*.env
*.lock
*.tmp
*.bak
*.swp
*.swo
*.orig
*.cache
*.pid
*.seed
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.tar
*.tgz
*.log
*.out
*.pid
*.pid.lock
*.pidfile
*.pid.lockfile
*.pidfile.lock
*.pidfile.lockfile
testapi.cmd
Old.*
*.old
package-lock.json
/Doc
/Doc/*